<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FakeFlix</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/estilo-index.css">
</head>
<body>
    <header>
        <nav>
            <h1><a href="#">FakeFlix</a></h1>
            <div id="div-btn">
                <a href="login.htm"><input type="button" value="Entrar" id="btn-entrar"></a>
            </div>
        </nav>
    </header>
    <section>
        <div id="caixa">
            <h2>Filmes, séries e muito mais, sem limites</h2>
            <p>Assista onde quiser. Cancele quando quiser.</p>
            <p>Quer assistir? Informe seu email para criar ou reiniciar sua assinatura.</p>
            <div style="text-align: center;">
                <input type="email" name="" id="email" placeholder="Email">
                <a href="login.htm"><input type="button" value="Vamos lá >" id="btn"></a>
            </div>
        </div>
    </section>
</body>
</html>