<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FakeFlix</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/src/css/estilo-netflix.css">
</head>
<body>
    <section>
        <h1>Quem está assistindo?</h1>
        <div class="row">
            <img src="/images/perfil1.png" alt="Imagem Perfil 1" class="col">
            <img src="/images/perfil2.png" alt="Imagem Perfil 2" class="col">
            <img src="/images/perfil3.png" alt="Imagem Perfil 3" class="col">
            <img src="/images/perfil4.jpg" alt="Imagem Perfil 4" class="col">
        </div>
        <input type="button" value="Gerenciar Perfis" id="btn-perfis">
    </section>
</body>
</html>