* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: url(/images/bg.jpg);
    font-size: 18pt;
    color: white;
}
h1 {
    color: red;
    font-weight: bolder;
    font-size: 40pt;
    font-family: 'Bebas Neue', sans-serif; 
    padding: 20px 120px;
}
header {
    background-color: rgba(0, 0, 0, 0.307);
    height: 200px;
}
#div-btn {
    text-align: right;
    display: flexbox;
    margin: -60px 100px;
}
#btn-entrar {
    color: white;
    font-size: 12pt;
    font-weight: bold;
    background-color: red;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: none;
}
h2 {
    font-weight: 900;
    text-align: center;
    margin: 10px;
    padding: 20px;
    font-size: 35pt;
}
p {
    font-size: 18pt;
    text-align: center;
    margin: 15px;
}
#email {
    width: 400px;
    font-size: 13pt;
    color: white;
    background-color: rgba(0, 0, 0, 0.478);
    height: 60px;
    margin: 10px;
    padding: 0px 10px;
    border-radius: 5px;
    border: solid 1px white;
}
#btn {
    font-size: 17pt;
    color: white;
    font-weight: bold;
    background-color: red;
    width: 170px;
    height: 60px;
    border-radius: 5px;
    border: none;
}